.filter{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    
}

.filter p{
font-weight: bold;
color: white;
margin: 8px 0px;
}

.filter select{
    font-weight: bold;
    width: 130px;
    text-align: center;
    border-radius: 10px;
}

.filter select option{
    font-weight: bold;
    
}
